<html>

{% include 'base.html' %}

<body>
  {% include 'navbartest.html' %}



<h1> Admin </h1>



<h3> Exams </h3>
  {% for exam in exams %}
    <p>
    {{ exam.name }}
      <a href="{{ url_for('admin_exam', exam_id=exam.examid) }}"
      <button type="button" class="btn btn-primary btn-default">
      {{ 'edit' }}
      </button>
      </a>
    </p>
  {% endfor %}

    <p>
      <a href="{{ url_for('admin_exam', exam_id='new') }}"
      <button type="button" class="btn btn-primary btn-default">
      {{ 'create new exam' }}
      </button>
      </a>
    </p>

<h3> Users </h3>
  <p>
    <a href="{{ url_for('admin_user_view') }}"
    <button type="button" class="btn btn-primary btn-default">
    {{ 'edit users' }}
    </button>
    </a>
  </p>

<h3> Certs </h3>
  <p>
    <a href="{{ url_for('admin_certs', method='all') }}"
    <button type="button" class="btn btn-primary btn-default">
    {{ 'view all' }}
    </button>
    </a>
  </p>


{% include 'footer.html' %}
</body>
</html>
