

<html>
<body>

    {% for section in sections %}
      <p>
        <a href="{{ url_for('admin_section', exam_id=exam_id, section_id=section.sectionid) }}"
        <button type="button">
        {{ 'edit ' + section.name }}
        </button>
        </a>
      </p>
    {% endfor %}

    {% if not exam=={} %}
    <p>
      <a href="{{ url_for('admin_section', exam_id=exam_id, section_id='new') }}"
      <button type="button">
      {{ 'create new section' }}
      </button>
      </a>
    </p>
    {% endif %}


    <form action="" method="post">
        <p>
            <label for="name">name</label>
            <input type="text" name="name" value="{{ exam.name }}">
        </p>
        <p>
            <label for="pass_percent">pass_percent</label>
            <input type="text" name="pass_percent" value="{{ exam.pass_percent }}">
        </p>
        <p>
            <label for="time_limit">time_limit</label>
            <input type="text" name="time_limit" value="{{ exam.time_limit }}">
        </p>
        <p>
            <label for="expiration">expiration</label>
            <input type="text" name="expiration" value="{{ exam.expiration }}">
        </p>
        <p>
            <label for="ula">ula</label>
            <input type="text" name="ula" value="{{ exam.ula }}">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <form id="delete" action="" method="post">
      <p>
        <button onclick="Delete()">Delete this exam</button>
        <input id="delete1" name="delete" type="hidden" value="default">
      </p>
    </form>

    <p>
    <a href="{{ url_for('admin') }}"
    <button type="button">
    Admin Home
    </button>
    </a>
    </p>

    <p>
    <a href="{{ url_for('home') }}"
    <button type="button">
    Home
    </button>
    </a>
    </p>

</body>
</html>

<script>
function Delete() {
    document.getElementById("delete1").value = 'delete';
    document.getElementById("delete").submit();
}
</script>
