<html>
<body>

  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('admin') }}">Admin</a></li>
    <li><a href="{{ url_for('settings') }}">User Settings</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>

<h1> Admin </h1>



<h3> Exams </h3>
  {% for exam in exams %}
    <p>
    {{ exam.name }}
      <a href="{{ url_for('admin_exam', exam_id=exam.examid) }}"
      <button type="button">
      {{ 'edit' }}
      </button>
      </a>
    </p>
  {% endfor %}
    <p>
      <a href="{{ url_for('admin_exam', exam_id='new') }}"
      <button type="button">
      {{ 'create new exam' }}
      </button>
      </a>
    </p>

<h3> Users </h3>
  <p>
    <a href="{{ url_for('admin_user_view') }}"
    <button type="button">
    {{ 'edit users' }}
    </button>
    </a>
  </p>

<h3> Certs </h3>
  <p>
    <a href="{{ url_for('admin_certs', method='all') }}"
    <button type="button">
    {{ 'view all' }}
    </button>
    </a>
  </p>



</body>
</html>
