<html>
<body>

    {% for answer in question.answers %}
      <p>
      <a href="{{ url_for('admin_answer', exam_id=exam_id, section_id=section_id, question_id=question_id, answer_id=answer.answerid) }}"
      <button type="button">
      {{ 'edit ' + answer.answerid|string}}
      </button>
      </a>
      </p>
    {% endfor %}

    {% if not question=={} %}
    <p>
      <a href="{{ url_for('admin_answer', exam_id=exam_id, section_id=section_id, question_id=question_id, answer_id='new') }}"
      <button type="button">
      {{ 'create new answer' }}
      </button>
      </a>
    </p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="question">question</label>
            <input type="text" name="question">
        </p>
        <p>
            <label for="answer1">answer</label>
            <input type="text" name="answer1">
            <label for="correct1">correct</label>
            <input type="text" name="correct1">
        </p>
        <p>
            <label for="answer2">answer</label>
            <input type="text" name="answer2">
            <label for="correct2">correct</label>
            <input type="text" name="correct2">
        </p>
        <p>
            <label for="answer3">answer</label>
            <input type="text" name="answer3">
            <label for="correct3">correct</label>
            <input type="text" name="correct3">
        </p>
        <p>
            <label for="answer4">answer</label>
            <input type="text" name="answer4">
            <label for="correct4">correct</label>
            <input type="text" name="correct4">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <form id="delete" action="" method="post">
      <p>
        <button onclick="Delete()">Delete this question</button>
        <input id="delete1" name="delete" type="hidden" value="default">
      </p>
    </form>

    <p>
    <a href="{{ url_for('admin') }}"
    <button type="button">
    Admin Home
    </button>
    </a>
    </p>

    <p>
    <a href="{{ url_for('home') }}"
    <button type="button">
    Home
    </button>
    </a>
    </p>

</body>
</html>

<script>
function Delete() {
    document.getElementById("delete1").value = 'delete';
    document.getElementById("delete").submit();
}
</script>
