<html>
<body>


    <form action="" method="post">
        <p>
            <label for="answer">answer</label>
            <input type="text" name="answer">
        </p>
        <p>
            <label for="question_id">question_id</label>
            <input type="text" name="question_id">
        </p>
        <p>
            <label for="correct">correct</label>
            <input type="text" name="correct">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

</body>
</html>
