<html>
{% include 'base.html' %}

<body>
  {% include 'navbartest.html' %}

{% for user in users %}

  <p>
    Name: {{ user.name }}
    <br>Email: {{ user.email }}
    <br>Amt_Name: {{ user.amt_name }}
    <br>Kingdom: {{ user.kingdom }}
    <br>Admin: {{ user.admin }}
    <br><a href="{{ url_for('admin_user', user_id=user.userid) }}">
    <button type="button" class="btn btn-primary btn-default">
    {{ 'edit' }}
    </button>
    </a>
  </p>
{% endfor %}


{% include 'footer.html' %}
</body>
</html>
