<html>
{% include 'base.html' %}

<body>
  {% include 'navbartest.html' %}
  <table>
	  <tr>
		<th> Name </th>
		<th> Email </th>
                <th> Amtgard Name </th>
		<th> Kingdom </th>
		<th> Admin? </th>
		<th> Edit </th>
	  </tr>
{% for user in users %}
  <tr>
	  <td>{{ user.name }}</td>
	  <td>{{ user.email }}</td>
  	  <td>{{ user.amt_name }}</td>
	  <td>{{ user.kingdom }}</td>
	  <td>{{ user.admin }}</td>
      <td><a href="{{ url_for('admin_user', user_id=user.userid) }}">
			  <button type="button">{{ 'edit' }}</button>
		  </a>
	  </td>
  </tr>
{% endfor %}
  </table>

{% include 'footer.html' %}
</body>
</html>
