<html>
<body>


    <form action="" method="post">
        <p>
            <label for="answer">answer</label>
            <input type="text" name="answer">
        </p>
        <p>
            <label for="question_id">question_id</label>
            <input type="text" name="question_id">
        </p>
        <p>
            <label for="correct">correct</label>
            <input type="text" name="correct">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <form id="delete" action="" method="post">
      <p>
        <button onclick="Delete()">Delete this answer</button>
        <input id="delete1" name="delete" type="hidden" value="default">
      </p>
    </form>

</body>
</html>

<script>
  function Delete() {
      document.getElementById("delete1").value = 'delete';
      document.getElementById("delete").submit();
  }
</script>
