<html>
{% include 'base.html' %}

<body>
  {% include 'navbartest.html' %}

  <table>
    <tr>
      <th> Exam </th>
      <th> User </th>
      <th> Result </th>
      <th> Score </th>
      <th> Date </th>
    </tr>
{% for cert in certs %}
<p>
  Exam: {{ cert['examname'] }}
  <br>Name: {{ cert['amt_name'] }}
  <br>Kingdom: {{ cert['kingdom'] }}
  <br>Status: {% if cert['passed'] %}Passed{% else %}Failed{% endif %}
  <br>Score: {{ cert['correct'] }} out of {{ cert['possible'] }}
  <br>Completed: {{ cert['testdate'] }}
</p>
{% endfor %}
  </table>
{% include 'footer.html' %}
</body>
</html>
