<html>
<body>


    <form action="" method="post">
        <p>
            <label for="answer">answer</label>
            <input type="text" name="answer">
        </p>
        <p>
            <label for="correct">correct</label>
            <input type="text" name="correct">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <form id="delete" action="" method="post">
      <p>
        <button onclick="Delete()">Delete this answer</button>
        <input id="delete1" name="delete" type="hidden" value="default">
      </p>
    </form>

    <a href="{{ url_for('admin') }}"
    <button type="button">
    Admin Home
    </button>
    </a>

    <a href="{{ url_for('home') }}"
    <button type="button">
    Home
    </button>
    </a>

</body>
</html>

<script>
  function Delete() {
      document.getElementById("delete1").value = 'delete';
      document.getElementById("delete").submit();
  }
</script>
