<html>
<body>

    {% for question in section.questions %}
      <p>
      <a href="{{ url_for('admin_question', exam_id=exam_id, section_id=section_id, question_id=question.questionid) }}"
      <button type="button">
      {{ 'edit ' + question.questionid|string}}
      </button>
      </a>
      </p>
    {% endfor %}

    {% if not section=={} %}
    <p>
      <a href="{{ url_for('admin_question', exam_id=exam_id, section_id=section_id, question_id='new') }}"
      <button type="button">
      {{ 'create new question' }}
      </button>
      </a>
    </p>
    {% endif %}


    <form action="" method="post">
        <p>
            <label for="name">name</label>
            <input type="text" name="name" value="{{ section.name }}">
        </p>
        <p>
            <label for="active_questions">active_questions</label>
            <input type="text" name="active_questions" value="{{ section.active_questions }}">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <form id="delete" action="" method="post">
      <p>
        <button onclick="Delete()">Delete this section</button>
        <input id="delete1" name="delete" type="hidden" value="default">
      </p>
    </form>

</body>
</html>

<script>
  function Delete() {
      document.getElementById("delete1").value = 'delete';
      document.getElementById("delete").submit();
  }
</script>
