<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/style.css') }}' />
</head>


  <ul>
    <li><a href="{{ url_for('home') }}">Home</a></li>
    {% if admin %}
    <li><a href="{{ url_for('admin') }}">Admin</a></li>
    {% endif %}
    <li><a href="{{ url_for('settings') }}">User Settings</a></li>
    <li style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>
  </ul>

  {% if not admin %}
    <h1> Welcome {{ user.name }} </h1>
  {% endif %}

  {% if admin %}
    <h1> Welcome Admin {{ user.name }} </h1>
  {% endif %}

  <h3> Select An Exam </h3>

  {% for exam in exams %}
    <p>
      <a href="{{ url_for('ula', exam_id=exam.examid) }}"
      <button type="button">
      {{ exam.name }}
      </button>
      </a>
    </p>
  {% endfor %}

  {% for cert in certs.keys() %}

    <p>
      {{ certs[cert]['examname'] }}:  Passed  on {{ certs[cert]['testdate'] }}
      with a score of {{ certs[cert]['correct'] }} out of {{ certs[cert]['possible'] }}
    </p>

  {% endfor %}


</html>
