<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SocialAuth</title>
    <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css">
    <style media="screen">
      #fb-btn{margin-top:20px;}
      #profile, #logout, #feed{display:none}
    </style>
  </head>
  <body>
    <script>

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '234035923812115',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.8'
        });

      };

    function login()
    {
    FB.login(function(response) {
       if (response.authResponse) {
          statusChangeCallback(response);
        } else {
          console.log('User cancelled login or did not fully authorize.');
        }
      }, {scope: 'email'});
    }
    function attemptLogin(){
      FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
      });
    }

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
       function statusChangeCallback(response){
         if(response.status === 'connected'){
           console.log('Logged in and authenticated');
           testAPI();
         } else {
           console.log('Not authenticated');
           setElements(false);
           login();
         }
       }
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }
      function testAPI(){
        FB.api('/me?fields=name,email', function(response){
          if(response && !response.error){
            buildProfile(response);
          }
        });
      }


      function buildProfile(user){
           var xhr = new XMLHttpRequest();
           var url = "handle_data";
           xhr.open("POST", url, true);
           xhr.setRequestHeader("Content-Type", "application/json");
           var name = user.name;
           var email = user.email;
           var data1 = JSON.stringify({"name":name, "email":email});
           xhr.send(data1);
           xhr.onload = function() {
             window.location.href = 'home';
           }
       }


      function logout(){
        FB.logout(function(response){
          setElements(false);
        });
      }
    </script>

    <div class="container">
      <h3>Welcome Adventurer! </h3>
    </div>

    <div class="container">
      <h3>Please log in to view your profile</h3>
    </div>

    <fb:login-button
      id="fb-btn"
      scope="public_profile,email"
      onlogin="checkLoginState();">
    </fb:login-button>


</body>
