
  <nav class="navbar navbar-expand-lg bg-info">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/presentation.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#pablo" class="nav-link">User Settings</a>
          </li>

          <li class="dropdown nav-item">
            <a href="#pablo" class="dropdown-toggle nav-link" data-toggle="dropdown">
              Admin
              <b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#pablo" class="dropdown-item">Admin Home</a>
              <a href="#pablo" class="dropdown-item">Edit Users</a>
              <a href="#pablo" class="dropdown-item">View Certs</a>

            </div>
          </li>
          <li class="nav-item">
            <a href="#pablo" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
