<html>
{% include 'base.html' %}

<body>
  {% include 'navbartest.html' %}

<h1> Settings </h1>
{{ test }}
{{ user.amt_name}}
{{ user.kingdom }}
<form action="" method="post">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-centered">
        <label style="width: 120px;" for="amt_name">Amtgard Name</label>
        <input type="text" name="amt_name" value="{{ user.amt_name }}">
      </div>
      </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 col-centered">
        <label style="width: 120px;" for="kingdom">Kingdom</label>
        <input type="text" name="kingdom" value="{{ user.kingdom }}">
      </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-centered">
    <p>
      <input type="submit">
    </p>
  </div>
  </div>

    {% include 'footer.html' %}
</body>
</html>
